<div class="titlediv">
  <h1>Gistable</h1>
</div>
<div class="tablediv">
  <table>
    <tr *ngFor="let gist of gists; let i=index;">
      <td style="padding-bottom: 15px;">
        <div class="carddiv">
          <mat-card class="gist-card">
            <mat-card-header style="text-align: left;">
              <img (click)="openUserDialog(gist.userUrl)" mat-card-avatar src="{{gist.avatarurl}}" class="example-header-image">
              <mat-card-title style="overflow-wrap: normal;" *ngIf="!gist.description==''">{{gist.description}}</mat-card-title>
              <mat-card-title *ngIf="gist.description==''">*No Title</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="filelist">
                <p style="text-align: left;font-size: 18px;">Files:</p>
                <div class="filebox">
                  <ul *ngFor="let file of gist.files let j=index;" style="text-align: left;">
                    <li>{{file.filename}}</li>
                  </ul>
                </div>
              </div>
            </mat-card-content>
            <hr>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button >VIEW</button><!-- (click)="openGistDialog(gist.url)" -->
            </mat-card-actions>
          </mat-card>
        </div>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet> 