h1{
    font-family: 'Roboto','sans-serif';
    font-weight: 100;
    font-size: 50px;
}
.titlediv{
    text-align: center;
}
.gist-card {
    max-width: 370px; 
    overflow:hidden;
}
.tablediv{
    text-align: center;
    width: 370px;
    margin: auto;
}
.example-header-image {
  background-size: cover;
  cursor: pointer;
}
.filelist{
    overflow: auto;
    width: 450px;
} 
ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
.filebox{
    border:0.5px solid #DBD6D2;
    border-radius: 6px;
    width:370px;
}
.carddiv{
    overflow-wrap: normal;
}
.savedG{
    font-family: 'Roboto','sans-serif';
    cursor: pointer;
    text-decoration: underline;
    color: #6491A6;
}