<div class="userprofilediv">
    <mat-card class="user-card">
        <p (click)="closeDialog()" class="close">X</p>
        <div style="text-align: center;">
            <img mat-card-avatar (click)="goToLink(htmlurl)" src="{{avatarurl}}" class="header-image">
        </div>
        <div style="text-align: center;">
            <h1 (click)="goToLink(htmlurl)" class="usercard-title">{{username}}</h1>
            <h6 style="text-align: center;font-size: 15px;">{{name}}<span *ngIf="company">&nbsp;&nbsp;|&nbsp;&nbsp;{{company}}</span></h6>
            <!-- <h6 style="text-align: center;font-size: 15px;">Works at: {{company}}</h6> -->
            <h6 *ngIf="location" style="text-align: center;font-size: 15px;"><img style ="height:18px;width: auto;vertical-align: middle;" *ngIf="location" src="./assets/img/location.png">&nbsp;&nbsp;{{location}}</h6>
            <h6 (click)="goToTwitter(twitter)" *ngIf="twitter" style="text-align: center;font-size: 15px;cursor:pointer;"><img style ="height:18px;width: auto;vertical-align: middle;" *ngIf="twitter" src="./assets/img/twitter.png">&nbsp;&nbsp;@{{twitter}}</h6>
            <br>
            <h6 style="text-align: center;font-size: 15px;color:#6491A6">{{followers}} Followers &nbsp;&nbsp;|&nbsp;&nbsp; {{following}} Following</h6>
            <br>
        </div>
    <!-- <mat-card-content>
    <div class="filelist"> 
    
    </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">

    </mat-card-actions> -->
</mat-card>
<div class="biodiv" *ngIf="bio">
    <p class="biotitle">Bio:</p>
    <p class="bio">{{bio}}</p>
</div>
    <br>
    <div style="height: 400px;">
        <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
            <mat-tab label="User's Gists">
            <hr>
            <p>{{noGists}}</p>
            <div *ngFor="let gist of gists">
                <a *ngIf="gist.description!=''||gist.description!=null" (click)="openGistDialog(gist.url)" style="cursor: pointer; text-decoration: underline;color: #6491A6;">{{gist.description}}</a>
                <a *ngIf="gist.description==''" (click)="openGistDialog(gist.url)" style="cursor: pointer; text-decoration: underline;color: #6491A6;">No title</a>
                <hr>
            </div>
            </mat-tab>
            <mat-tab label="Subscriptions">
            <hr>
            <p>{{noSubs}}</p>
            <div *ngFor="let subscription of subscriptions">
                <a *ngIf="subscription.description!=null||subscription.description!=''" (click)="goToLink(subscription.html_url)" style="cursor: pointer; text-decoration: underline;color: #6491A6;">{{subscription.description}}</a>
                <a *ngIf="subscription.description==null" (click)="goToLink(subscription.html_url)" style="cursor: pointer; text-decoration: underline;color: #6491A6;">No title</a>
                <hr>
            </div>
            </mat-tab>
            <mat-tab label="Starred">
            <hr>
            <p>{{noStar}}</p>
            <div *ngFor="let starred of starred">
                <a *ngIf="starred.description!=null||starred.description!=''" (click)="goToLink(starred.html_url)" style="cursor: pointer; text-decoration: underline;color: #6491A6;">{{starred.description}}</a>
                <a *ngIf="starred.description==null" (click)="goToLink(starred.html_url)" style="cursor: pointer; text-decoration: underline;color: #6491A6;">No title</a>
                <hr>
            </div>    
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
