@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #F2F4F3;
}
.dialog-userbg {
    background-image: url("/assets/img/userprofilebg.png");
}
